@model TravelTripProject.Models.Sınıflar.Blog

@{
    ViewBag.Title = "GetBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="margin-top:40px;">Blog Güncelleme</h2>
<br />
@using (Html.BeginForm("UpdateBlog", "Admin", FormMethod.Post))
{
    <label>ID</label>
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonyl" })
    <br />

    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />

    <label>Tarih</label>
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />

    <label>Fotoğraf</label>
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br />

    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Description, 15, 1, new { @class = "form-control" })
    <br />

    <button class="btn btn-success">Blog Güncelle</button>
}